@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: hsla(210, 4%, 9%, 1);
    color: hsla(0, 0%, 100%, 1);
    font-family: "DM sans", sans-serif;
    font-weight: 400;
    background-image: url("./images/menuImages/bg-menu.webp");
    padding: 2rem 0 0 0;
}


.container {
    max-width: 1340px;
    margin: auto;
    
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #121212;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #E4C590;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}



/* first page starts */

header {
    font-family: 'DM Sans', sans-serif;
    /* height: fit-content; */
}

nav {
    border-bottom: 1px solid #aaaaaa43;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    /* border-radius: 10px; */
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    transition: 0.4s;
    animation: navColor 4s forwards;
    animation-timeline: scroll();
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    width: 100%;
}

@keyframes navColor {
    0% {
        background-color: transparent;
        border-bottom: 1px solid transparent;

    }

    20% {
        background-color: #161718;
    }

    100% {
        background-color: #161718;
    }
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo>img {
    width: 200px;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-family: "DM Sans", sans-serif;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}

.nav-links>a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    transition: 0.4s;
    padding: 0.5rem;
    border-bottom: 3px solid transparent;
}

.nav-links>a:hover {
    color: #E4C590;
    border-bottom: 3px solid #E4C590;
}

.nav-btn a {
    background-color: #E4C590;
    color: #121212;
    padding: 1rem 2rem;
    border-radius: 2px;
    border: transparent 1px solid;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.nav-btn a:hover {
    background-color: #0E0D0B;
    color: #FFF;
    border: 1px solid #E4C590;
}

.menu-btn {
    background-color: #E4C590;
    padding: 0.5rem;
    border-radius: 2px;
    display: none;
}

.menu-section{
    display: flex;
    justify-content: center;
   flex-direction: column;
}



.menu-page-container {
    padding: 2rem;
}

.section-subtitle {
    margin-top: 3rem;
    text-align: center;
    color: #E4C590;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 3px;
    font-weight: 700;
}

.separator-svg {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.separator {
    width: 100px;
}

.section-title {
    margin-top: 30px;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Forum', cursive;
}

.grid-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 5% 8%;
}

.grid-list li {
    list-style: none;
}

.menu-card {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.card-title {
    text-decoration: none;
    font-family: 'Forum', cursive;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
}

.card-title:hover {
    color: #E4C590;
}

.card-text {
    font-size: 12px;
    color: #aaa;
}

.menu-text {
    text-align: center;
    margin-bottom: 25px;
}

.span {
    color: #E4C590;
}

.view-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-btn {
    font-size: 10px;
    letter-spacing: 2px;
    border-radius: 2px;
    text-transform: uppercase;
    color: #E4C590;
    padding: 1rem 2rem;
    border: 1px solid #E4C590;
    background-color: transparent;
    cursor: pointer;
}

.view-btn:hover {
    background-color: #E4C590;
    color: #121212;
    font-weight: 700;
}

@media screen and (max-width : 950px) {
    .menu-btn {
        display: none;
    }

    .nav-links>a {
        font-size: 10px;
    }

    .nav-btn a {
        padding: 1rem;
        font-size: 10px;
    }
}

@media screen and (max-width : 768px) {
    .menu-btn {
        display: block;
    }

    .nav-links {
        display: none;
    }

    .nav-btn {
        display: none;
    }
}

@media screen and (max-width : 426px) {

    .nav-logo img {
        width: 150px;
    }

    .menu-btn {
        display: block;
    }

    .nav-links {
        display: none;
    }

    .nav-btn {
        display: none;
    }
}

@media (max-width: 950px) {
    .grid-list {
        grid-template-columns: 1fr;
        padding: 6% 8%;
    }

    .menu-text {
        margin-top: 30px;
        font-size: 14px;
    }
}

@media (max-width: 490px) {
    .grid-list {
        grid-template-columns: 1fr;
    }

    .section-title {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    .card-text {
        display: none;
    }

    .view-btn {
        padding: 0.7rem;
    }
}

/* footer style */

footer {
    width: 100%;
    height: auto;
    background-color: #161718;
    font-family: 'DM Sans', sans-serif;
    padding: 50px 0px;
    margin-top: 100px;
}

.footer-main {
    width: 1340px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.footer-upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;
    border-bottom: 1px solid #ffffff4b;
}

.footer-logo img {
    width: 300px;
}

.footer-social {
    display: flex;
    gap: 20px;
}

.footer-mid {
    color: #ffffff59;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff4b;
    padding: 30px 0px;
}

.footer-mid-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-mid-1 h2 {
    font-size: 30px;
    margin-bottom: 10px;
    color: #e4c590b8;
}

.footer-mid-1,
.f2,
.f3 span {
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}

.footer-mid-1 form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-mid-1 form input {
    width: 300px;
    height: 40px;
    background-color: #ffffffd5;
    padding-left: 20px;
    color: #121212;
    border-radius: 5px;
    outline: none;
}

.footer-mid-1 form button {
    width: 100px;
    height: 40px;
    background-color: #E4C590;
    color: #121212;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.8px;
}

.icon-text {
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer-end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: #ffffff60;
    padding: 20px;
}

.footer-end div:nth-of-type(2) {
    display: flex;
    gap: 20px;
}


@media screen and (max-width: 912px) {
    .footer-main {
        width: 100%;
    }

    .footer-upper {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
    }

    .footer-mid {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    .footer-mid-1 {
        justify-content: center;
        text-align: center;
    }

    .f2,
    .f3 {
        display: none;
    }

    .footer-end {
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }

}


@media screen and (max-width: 768px) {
    .footer-main {
        width: 100%;
    }

    .footer-upper {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
    }

    .footer-mid {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    .footer-mid-1 {
        justify-content: center;
        text-align: center;
    }

    .f2,
    .f3 {
        display: none;
    }

    .footer-end {
        justify-content: center;
    }

    .footer-end div:nth-of-type(2) {
        display: none;
    }


}

@media screen and (max-width: 480px) {
    .footer-main {
        width: 100%;
    }

    .footer-upper {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
    }

    .footer-mid {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    .footer-mid-1 {
        justify-content: center;
        text-align: center;
    }

    .f2,
    .f3 {
        display: none;
    }

    .footer-end {
        justify-content: center;
    }

    .footer-end div:nth-of-type(2) {
        display: none;
    }

}