@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* shouvick use for feedback part start import*/
/* font-family: "Great Vibes", cursive; */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
/* font-family: 'Playfair Display', serif; */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* font-family: "Roboto", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* end of shouvick font import */


/* font-family: "Urbanist", sans-serif; */
/* font-family: "Josefin Slab", serif; */
/* font-family: "Jost", sans-serif; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: auto;
}


/* first page starts */
.main-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url('https://i.pinimg.com/originals/2f/3c/dc/2f3cdc6a9b182457f81b4f72efd26ab3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
}

header {
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Urbanist", sans-serif;
    height: fit-content;
    padding-top: 20px;
}

nav {
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo>img {
    width: 200px;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav-links>a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    transition: 0.4s;
    padding: 0.5rem 1rem;
}

.nav-links>a:hover {
    color: #CD5334;
    background-color: #fff7f7;
    border-radius: 10px;
}

.nav-links>a:nth-of-type(5) {
    background-color: #121212;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: transparent 1px solid;
    font-weight: 600;
}

.nav-links>a:nth-of-type(5):hover {
    background-color: #fff7f7;
    color: #121212;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    height: 400px;
    animation: updown 5s forwards;
    animation-timeline: view();
    animation-duration: 5s;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
}

@keyframes updown {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(35%);
    }
}

.main-text {
    font-size: clamp(1.5rem, 5vw, 7rem);
    font-family: "Jost", sans-serif;
    width: 700px;
    text-align: center;
    line-height: 80px;
    font-weight: 600;
    color: #fff;
}

.main-text span:nth-of-type(1) {
    color: #e87171;
}

.main-text span:nth-of-type(2) {
    font-family: "Josefin Slab", serif;
    font-style: italic;
}

.main-image-1 {
    width: 150px;
    height: 180px;
    background: #212121;
    display: flex;
    border-radius: 4px;
    gap: 5px;
    padding: .4em;
}

.main-image-1 div {
    height: 100%;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    transition: all .5s;
    background: #212121;
    border: 1px solid #fff7f7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image-1 div:hover {
    flex: 4;
}

.main-image-1 .card-1 {
    background-image: url(./images/otherImages/section7/img1.1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-image-1 .card-2 {
    background-image: url(./images/otherImages/section7/img2.1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-image-1 .card-3 {
    background-image: url(./images/otherImages/section7/img3.1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* first page ends */


/* carousal section start  */

.carousal-section {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    font-family: jost, sans-serif;
}

.carousal-text {
    font-size: 2rem;
    font-weight: 600;
    color: #121212;
    text-align: center;
}

.ca-1 {
    background-image: url(./images/otherImages/carousal/1.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 240px;
    height: 280px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ca-2 {
    background-image: url(./images/otherImages/carousal/5.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 240px;
    height: 280px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ca-3 {
    background-image: url(./images/otherImages/carousal/2.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 240px;
    height: 280px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ca-4 {
    background-image: url(./images/otherImages/carousal/3.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 240px;
    height: 280px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ca-5 {
    background-image: url(./images/otherImages/carousal/4.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 240px;
    height: 280px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* carousal section ends */


/* section 1 start */

.section-1 {
    /* background-color: red; */
    height: 700px;
    width: 100%;
    padding: 80px 30px;
    background-color: #fff7f7;
}

.section-1-container {
    display: flex;
    width: 1440px;
    height: 100%;
    margin: auto;
    justify-content: space-evenly;
    /* font-family: "Urbanist", sans-serif; */
    font-family: josefin slab, serif;
}

.section-1-description {
    width: 25%;
    /* background-color: blue; */
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 10px 10px 0px rgba(0, 0, 0, .2);
    animation: fadeup 1s forwards;
    animation-timeline: view();
    animation-range-start: cover 5vh;
    animation-range-end: cover 80vh;

}

@keyframes fadeup {
    from {
        transform: scale(0.5) translateY(100px);
        opacity: 0;
    }
    
    to {
        transform: translateY(0px);
        opacity: 1;
    }

}

.section-1-description h1 {
    font-size: 1.7rem;
    color: #CD5334;
}

.section-1-description p {
    font-size: 1.2rem;
    font-weight: 400;
    color: #121212;
}


.section-1-grid {
    width: 65%;
    /* background-color: green; */
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2) */
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 10px 10px 0px rgba(0, 0, 0, .2);
    animation: fadeup 1s forwards;
    animation-timeline: view();
    animation-range-start: cover 5vh;
    animation-range-end: cover 80vh;
}


.grid-container {
    /* background-color: rgb(25, 197, 206); */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
    height: 100%;

}

.item1 {
    grid-area: 1 / 1 / 4 / 3;
    background-color: rgb(0, 255, 21);
    background-image: url("../toogood/images/otherImages/section1/image-1.webp");
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
}

.item2 {
    grid-area: 1 / 3 / 4 / 4;
    background-color: yellow;
    background-image: url("../toogood/images/otherImages/section1/image-2.webp");
    background-position: center;
    background-size: cover;
    border-radius: 1rem;


}

.item3 {
    grid-area: 4 / 1 / 6 / 4;
    background-color: rgb(46, 40, 156);
    border-radius: 1rem;
    background-image: url("../toogood/images/otherImages/section1/image-3.webp");
    background-position: center;
    background-size: cover;

}

.item4 {
    grid-area: 1 / 4 / 3 / 5;
    background-color: rgb(174, 17, 153);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-image: url("../toogood/images/otherImages/section1/image-4.webp");
    background-position: center;
    background-size: cover;

}

.item5 {
    grid-area: 3 / 4 / 6 / 5;
    background-color: rgb(208, 19, 19);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-image: url("../toogood/images/otherImages/section1/image-5.webp");
    background-position: center;
    background-size: cover;
}


.grid-item {
    overflow: hidden;
}

.grid-item img {
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease;
}

.grid-item:hover img {
    opacity: 0.2;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.grid-item:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 1rem;
    padding: 1rem;
    font-weight: 600;
    text-align: center;
}

@media screen and (max-width: 912px) {

    .section-1-container {
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        width: 100%;
    }

    .section-1-description {
        width: 100%;
        height: 250px;
    }

    .grid-container {
        gap: 10px;
    }

    .section-1-grid {
        height: 450px;
        width: 100%;
    }

    .text {
        font-size: 0.8rem;
        padding: 1rem;
    }

}


@media (max-width: 768px) {
    .section-1-container {
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        width: 100%;
    }

    .section-1-description {
        width: 100%;
    }

    .grid-container {
        gap: 10px;
    }

    .section-1-grid {
        width: 100%;
        height: 350px;
    }

    .text {
        font-size: 0.6rem;
        padding: 0.8rem;
    }

}

@media (max-width: 480px) {
    .section-1 {
        height: 100%;
    }

    .section-1-container {
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        width: 100%;
    }

    .grid-container {
        gap: 5px;
    }

    .section-1-description {
        width: 100%;
    }

    .section-1-grid {
        width: 100%;
    }

    .text {
        font-size: 0.5rem;
        padding: 0.6rem;
    }
}

/* section 1 end */


/*  icon-image-section start section 4 */

.icon-image-section {
    background-color: #121212;
    display: flex;
    flex-direction: column;
}

.icon-image-section h2 {
    margin-left: 100px;
    color: #fff;
    font-size: 2.5rem;
    font-family: "urbanist", serif;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 50px;
    text-decoration: underline;
    /* padding-bottom: px; */
}

.icon-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    background-color: #121212;
    /* height: fit-content; */
    flex-wrap: wrap;
}

.icon-box {
    position: relative;
    width: 350px;
    height: 200px;
}

.icon-box>img:nth-of-type(1) {
    position: absolute;
    width: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-box>img:nth-of-type(2) {
    position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 15px;
    border: 2px solid yellow;
    z-index: 1;
    top: 50%;
    left: 50%;
    display: none;
    transform: translate(-50%, -50%) rotate(20deg);
}

/* Show the second image and hide the first image on hover */
.icon-box:hover>img:nth-of-type(1) {
    display: none;
}

.icon-box:hover>img:nth-of-type(2) {
    display: block;
}

.box1>img:nth-of-type(2),
.box3>img:nth-of-type(2),
.box5>img:nth-of-type(2),
.box7>img:nth-of-type(2) {
    transform: translate(-50%, -50%) rotate(-20deg);

}

.box1 {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}

.box2 {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;

}

.box3 {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

.box4 {
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
}

.box5 {
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
}

.box6 {
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

.box7 {
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.box8 {
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
}


@media screen and (max-width: 768px) {
    .icon-box {
        position: relative;
        width: 250px;
        height: 150px;
    }

    .icon-box>img:nth-of-type(1) {
        width: 100px;
    }

    .icon-box>img:nth-of-type(2) {
        width: 140px;
        height: 140px;
    }
}

@media screen and (max-width: 480px) {
    .icon-box {
        position: relative;
        width: 180px;
        height: 120px;
    }

    .icon-box>img:nth-of-type(1) {
        width: 80px;
    }

    .icon-box>img:nth-of-type(2) {
        width: 100px;
        height: 100px;
    }
}

/*  icon-image-section end section 4*/


/*  menu Stying start here */
.parent {
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    /* background-image: url('https://i.pinimg.com/originals/2f/3c/dc/2f3cdc6a9b182457f81b4f72efd26ab3.jpg'); */
    background-color: #212121;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Urbanist", sans-serif;
    gap: 60px;

}

.forMenu {
    padding: 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.forMenu h1 {
    font-size: 40px;
    font-family: 'Urbanist', sans-serif;
}

.forMenu>p:nth-of-type(1) {
    font-size: 22px;
    font-family: 'Urbanist', sans-serif;
}

.hr1 {
    height: 5px;
    background-color: #fff;
    width: 40%;
}

.forMenu>p:nth-of-type(2) {
    font-style: italic;
    font-family: "Jost", sans-serif;
    letter-spacing: .2rem;
}

.hr2 {
    height: 5px;
    background-color: #fff;
    width: 40%;
    margin-left: 57%;
}

.forMenuImages {
    display: grid;
    grid-template-columns: repeat(2, 230px);
    grid-template-rows: repeat(2, 230px);
    gap: 5px;
    padding: 2rem;
    justify-content: center;

}

/* styling for menu button button */
.btn {
    background-color: #121212;
    padding: 14px 40px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.4s;
}


.btn span:last-child {
    display: none;
}

.btn:hover {
    transition: 0.4s;
    border: 2px solid #fff;
    background-color: #fff;
    color: #121212;
}

.btn:active {
    background-color: #87dbd0;
}

/*menu styling ends here*/


/* feedback page styling start by SHOUVICK */
/* start of animation for feedback card section */
@keyframes automove{
    100%{
        /* left: -170%; */
        left: -2200px;
    }
}

/* end of animation for feedback card section */
@media (width<=768px){
    div.feedback_section>div.slider>div.list{
        /* width: 850px; */
        width: auto;
    }
    @keyframes automove{
        100%{
            /* left: -300%; */
            left: -2100px;
        }
    }
}
@media (width<=480px){
    div.feedback_section>div.slider>div.list{
        /* width: 450px; */
        width: auto;

    }
    @keyframes automove{
        100%{
            /* left: -650%; */
            left: -2000px;
        }
    }
}



.feedback_section{
    width: 1440px;
    
    height: 500px;
    /* border: 1px solid; */
    background-color: #fff7f7;
    position: relative;
    
}
/* .feedback_section>img:nth-of-type(1){
    position: absolute;
    width: 100px;
    height: 150px;
    opacity: 0.8;
    
} */
/* .feedback_section>img:nth-of-type(2){
    position: absolute;
    height: 200px;
    width: 170px;
    bottom: 370px;
    right: -10px;
    z-index: 1;


}  */
.feedback_section>h3{
    text-align: center;
    font-family: "Great Vibes", cursive;
    font-size: 35px;
    font-weight: 200;
    color:  #e87171;
    margin-top: 10px;

}
.feedback_section>h2{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 500px;
    text-align: center;
}

.slider{
    margin-top: 20px;
    
   
    
}
.list{
    width: 1300px;
    margin: auto;
    height: 320px;
    /* border: 1px solid; */
    align-items: center;
    display: flex;
    /* flex-wrap: wrap; */
    position: relative;
    justify-content: space-between;
    /* gap: 10px; */
    overflow: hidden;
    z-index: 2;
    background-color: #fff7f7;
    
}
.review_card{
    /* border: 1px solid; */
    width: 400px;
    height: 220px;
    border-radius: 10px;
    display: grid;
    position: absolute;
    font-family: "Roboto", sans-serif;
    left: 100%;
    transition: transform 1s;
    grid-template-columns: 120px 280px;
    grid-template-rows: repeat(2,1fr);
    animation: automove 24s linear infinite ;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    

}
.list>.review_card:nth-of-type(2){
    animation-delay: 3s;

}
.list>.review_card:nth-of-type(3){
    animation-delay: 6s;

}
.list>.review_card:nth-of-type(4){
    animation-delay: 9s;

}
.list>.review_card:nth-of-type(5){
    animation-delay: 12s;
}
.list>.review_card:nth-of-type(6){
    animation-delay: 15s;
}
.list>.review_card:nth-of-type(7){
    animation-delay: 18s;
}
.list>.review_card:nth-of-type(8){
    animation-delay: 21s;
}

.review_card>img{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 10px 0px 0px 10px;
    /* position: absolute;
    top: -50px;
    left: 150px; */
}
/* .review_card>div#rounded_profilepic>img{
    width: 100%;
    height: 100%;
} */
.review_card>.rating{
    /* border: 1px solid; */
    padding-top: 10px;

}
.review_card>.review_section{
    width: 100%;
    padding-top: 5px;
    padding-left: 20px;
    height: 120px;
    /* border: 1px solid; */
    grid-area: 1/1/2/3;
}

.review_section>img{
    height: 50px;
} 
    

.list:hover>.review_card{
    animation-play-state: paused;
    opacity: .7;
    
}
.review_card:hover{
    transform: scale(1.1);
    cursor: pointer;
    opacity: 1 !important;
}


/* feedback page styling end BY SHOUVICK */

/* footer section made by SHOUVICK (start) */
/* footer section outer most div it is used for background color spred in whole page */
div.footerpart_outerdiv{
    background-color: #0f1630;
    border: 1px solid;
    width: 100%;
    height: auto;
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
}
/* footer section inner div it hold all contain */
div.footerpart_innerdiv{
    width: 1440px;
    height: auto;
    margin: auto;
    margin-top: 50px;
    display: flex;
    background-color: #0f1630;
    flex-direction: column;
    border: 1px solid white;
    border: 1px solid red;

}
div.contaier_forlogo_icons{
    width: 1440px;
    height: 80px;
    margin-top: 30px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-between;
}
div.footer_icon>img{
    height: 50px;
}
div.footer_socialmedia{
    border: 1px solid white;
    height: 60px;
    display: flex;
    
    gap: 20px;
    justify-content: space-evenly;
}
div.footer_socialmedia>div{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    background-color: white;
}
div.footer_socialmedia>div>img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
    
}
/* it is the middle portion of footer that has four column */
div.footer_content{
    width: 1440px;
    height: 300px;
    border: 1px solid white;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 500px 300px 300px 340px;
    color: white;
    font-family: 'Playfair Display', serif;
   

}
div.footer_content>div.footer_content_column{
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
div.footer_content_column>h1{
    font-size: 60px;
}

div.footer_content_column>div>form>input{
    width: 300px;
    height: 40px;
    background-color: #0f1630;
    color: white;
    border-radius: 10px;
    border: 1px solid white;
   
}
div.footer_content_column>div>form>button{
    height: 40px;
    background-color: #ec3c3c;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
div.footer_content_column>div>form>button:hover{
    cursor: pointer;
    background-color: #e70d0d;
}
div.footer_content_column>div>form>input::placeholder{
    color: white;
    padding: 10px;
    margin: 0px;
}
div#forth_column>div{
    display: flex;
    border: 1px solid;
    align-items: center;
    gap: 20px;
}
.footer_hover_effect:hover{
    cursor: pointer;
}
/* div footer last section that holds t&c and some other thing */
div.footer_last_div{
    border-top: 1px solid white;
    width: 1440px;
    height: 60px;
    display: flex;
    align-items: center;
    color: white;
    padding: 0px 10px 0px 10px;
    justify-content: space-between;
}
div.footer_last_div>div{
    width: auto;
    height: 40px;
    display: flex;
    gap: 20px;
    align-items: center;
}

/* footer page styling end BY SHOUVICK */

/* Pizza Section styling Here */

.pizza {
    background-color: #2d1b19;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0px;
    position: relative;
}

/* This styling for animation which is knife related, vertical line related, and rotation of pizza  */
.verticalLine {
    position: absolute;
    width: 2px;
    background-color: white;
    left: 40px;
    top: 0px;
    animation: verline 3s forwards;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: cover;
}

@keyframes verline {
    100% {
        height: 300px;
    }

    0% {
        height: 0px;
    }
}

.Knife {
    position: absolute;
    left: 40px;
    top: 0px;
    height: 100px;
    width: 100px;
    color: white;
}

.Knife img {
    height: 100%;
    width: 100%;
    animation: knifeCut 3s forwards;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: cover;
}

@keyframes knifeCut {
    100% {
        transform: translateY(290px);
    }

    0% {
        transform: translateY(0px);
    }
}

.italic {
    position: absolute;
    right: 10px;
    bottom: 10px;
    animation: round 3s forwards infinite;
    transition: 3s;
}

@keyframes round {
    100% {
        transform: rotate(360deg);
    }

}

/* This Animation Styling ends here */

/* This styling for first Grid */
.pizzaGrid1 {
    width: 900px;
    height: fit-content;
    display: grid;
    grid-template-columns: .8fr 1.2fr;
    grid-template-rows: 450px;
    gap: 20px;
    padding: 2rem 2rem 0px;
    background-color: rgb(50, 31, 31);
}

.pizzachild-1 {
    background-color: #2d1b19;
    box-shadow: 2px 4px 6px black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 1.3rem;
    gap: 20px;
}

.pizzaSliceImg1 {
    height: 60%;
    width: 70%;
    margin: auto;
}

.aboutPizza1 {
    color: white;
    font-size: 1.5em;
    font-family: 'Urbanist', sans-serif;
}

.aboutPizzaDesc1 {
    color: white;
    font-size: .8em;
    font-weight: 700;
    font-family: 'Josefin Slab', serif;
}

.pizzaBtn1 {
    background-color: rgba(128, 128, 128, 0.384);
    border-radius: 30px;
    padding: 1rem 1.5rem;
    border: none;
    color: white;
    cursor: pointer;
    width: 45%;
    font-family: 'Jost', sans-serif;
}

.pizzachild-2 {
    background-color: #2d1b19;
    box-shadow: 2px 4px 6px black;
    border-radius: 10px;
    overflow: hidden;
}

.pizzaSliceImg2 {
    transform: rotate(180deg);
    height: 50%;
    margin-left: 105px;
}

.aboutPizza2 {
    color: white;
    font-size: 1.7em;
    margin: 30px;
    font-family: 'Urbanist', sans-serif;
}

.aboutPizzaDesc2 {
    color: white;
    font-size: .9em;
    margin: 10px 30px 10px;
    font-weight: 700;
    font-family: 'Josefin Slab', serif;
}

.pizzaBtn2 {
    background-color: rgba(128, 128, 128, 0.384);
    border-radius: 30px;
    padding: 1rem 1.5rem;
    border: none;
    color: white;
    cursor: pointer;
    width: 25%;
    margin: 10px 30px 30px;
    font-family: 'Jost', sans-serif;
}

/* First Grid Styling ends here */

/* This styling for second Grid */
.pizzaGrid2 {
    width: 900px;
    height: fit-content;
    display: grid;
    grid-template-columns: 1.2fr .8fr;
    grid-template-rows: 250px;
    gap: 20px;
    padding: 20px 2rem 2rem;
    background-color: rgb(50, 31, 31);
}

.pizzachild-3 {
    background-color: #2d1b19;
    box-shadow: 2px 4px 6px black;
    border-radius: 10px;
    overflow: hidden;
    padding: .5rem;
    display: flex;
    gap: 45px;
}

.pizzachild-3 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    color: white;
}

.pizzaSliceImg3 {
    width: 60%;
    height: 100%;
    margin-left: -80px;
}

.aboutPizza3 {
    font-size: 1.7em;
    font-family: 'Urbanist', sans-serif;
}

.aboutPizzaDesc3 {
    font-size: .8em;
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
}

.pizzaBtn3 {
    background-color: rgba(128, 128, 128, 0.384);
    border-radius: 30px;
    padding: 1rem 1.5rem;
    border: none;
    color: white;
    cursor: pointer;
    width: 55%;
    font-family: 'Jost', sans-serif;
}

.pizzachild-4 {
    background-color: #2d1b19;
    box-shadow: 2px 4px 6px black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 1rem;
    color: white;
}

.aboutPizza4 {
    font-size: 2.1rem;
    text-align: center;
    line-height: 1em;
    font-weight: 400;
    font-family: 'Urbanist', sans-serif;
}

.pizzaBtn4 {
    background-color: rgba(128, 128, 128, 0.384);
    border-radius: 30px;
    padding: 1rem 1.5rem;
    border: none;
    color: white;
    cursor: pointer;
    width: 45%;
    font-family: 'Jost', sans-serif;
}

/* Second Grid Styling ends here */